@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 200px;
    margin-left: 90px;
}

nav{
    width: 20%;
    background-color: #CBFBFF;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.menu-img{
    width: 30px;
    margin-left: 40px;
    margin-top:30px;
    margin-bottom: 20px;
}

.conf-img{
    width: 40px;
    margin-left: 40px;
    margin-top:30px;
    margin-bottom: 20px;
}
.conf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.menu-img:hover{
    cursor: pointer;
}

.conf-img:hover{
    cursor: pointer;
}

.box{
    display: flex;
    align-items: center;
    margin-left: 40px;
    border-bottom: 1.5px solid black;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 40px;
    
}

.ic-fun{
    width: 25px;
}

.func{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    margin-left: 20px;
}

.lembretes{
    border: none;
}

.func:hover{
    cursor: pointer;
    color: rgb(44, 93, 198) ;
}

.sairconta{
    display: flex;
    display: flex;
    align-items: center;
    margin-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 40px;
    margin-top: 50px;
}

.sair{
    margin-left: 10px;
}

